body, a {
    color: #323232;
}
ul li a:hover {
    text-decoration: none;
}
.barra-superior, .menu-principal{
    display: flex;
}

/* BARRA SUPERIOR / MENU PRINCIPAL */
.barra-superior {
    background-color: #FF9721;
    align-items: center;
    /* min-height: 15vh; */
}
.menu-principal{
    align-items: center;
    flex-grow: 3;
}
.menu-principal ul{
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    margin-top: 10px;
}
.menu-principal li {
    list-style: none;
    padding: 0 15px;
}
.menu-principal li > a:hover {
    color: #FFDC73;
}
.botoes-login {
    flex-grow: 2;
}
.botoes-login button {
    width: 11vw;
}
.botao-entrar {
    background-color: #f9f9f9;
}

/* CARROSSEL */

/* Aumenta o tamanho dos botões de navegação */
.carousel-control-next-icon, .carousel-control-prev-icon {
    padding: 40px;
}